.LwsFieldSet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 0px;
    border: none;
    width: fit-content;
    gap: 7px;
}

.LwsInputLabel {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #646464;
}

.LwsInput {
    width: 100%;
    height: 26px;
    border: none;
}